In [3]:
import pandas as pd
df = pd.read_csv('學生成績.csv')

#使用subscript搜尋Series value
chinese_s = df["國文"]
chinese_s

0      94
1      51
2      77
3      73
4      64
5      96
6      68
7      51
8     100
9      51
10     76
11     87
12     91
13     75
14    100
15     68
16     67
17     82
18     50
19     68
20     66
21     69
22     53
23    100
24     52
25     77
26     93
27     51
28     61
29     94
30     55
31     79
32     99
33    100
34     58
35     60
36     62
37     90
38     67
39     57
40     76
41     92
42     65
43     69
44     71
45     76
46     97
47     90
48     96
49     99
Name: 國文, dtype: int64

In [4]:
#數學不及格
df[df['數學'] < 60]

    學號   姓名   國文  英文  數學   地理  歷史   總分    平均
0    1  許芳如   94  99  51   61  64  369  73.8
1    2  陳凱翔   51  88  59   84  90  372  74.4
7    8  錢欣潔   51  51  52   68  60  282  56.4
13  14  蔡世馨   75  65  59  100  70  369  73.8
18  19  陳建香   50  58  59   70  53  290  58.0
19  20  方筠紹   68  80  56   77  77  358  71.6
28  29  彭虹屏   61  99  59   57  69  345  69.0
33  34  王志謙  100  67  55   88  99  409  81.8
37  38  白美珍   90  89  59   62  93  393  78.6
43  44  張明惟   69  55  50   55  60  289  57.8

In [5]:
#國文不及格同時英文不及格

df[(df['國文'] < 60) & (df['英文'] < 60)]

    學號   姓名  國文  英文  數學  地理  歷史   總分    平均
7    8  錢欣潔  51  51  52  68  60  282  56.4
18  19  陳建香  50  58  59  70  53  290  58.0
22  23  張嘉韋  53  54  68  55  73  303  60.6
30  31  劉萬季  55  58  99  84  92  388  77.6

In [6]:
#全部都及格的
df[(df['國文'] >= 60) & (df['英文'] >= 60) & (df['數學'] >= 60) & (df['地理'] >= 60) & (df['歷史'] >= 60)]

    學號   姓名   國文  英文  數學   地理  歷史   總分    平均
3    4  陳樂紫   73  86  96   94  64  413  82.6
4    5  潘英迪   64  64  61   96  95  380  76.0
5    6  李美洋   96  68  68   95  78  405  81.0
6    7  陳怡容   68  71  66   82  99  386  77.2
11  12  林志喜   87  73  85   62  78  385  77.0
12  13  林清英   91  70  74   77  73  385  77.0
15  16  盧冠發   68  77  86   69  95  395  79.0
21  22  周怡啟   69  85  75   62  93  384  76.8
23  24  黃佩玲  100  76  75   78  72  401  80.2
25  26  李雅怡   77  85  89  100  78  429  85.8
26  27  余丞苓   93  74  83   69  71  390  78.0
32  33  吳麗卿   99  72  81   82  62  396  79.2
41  42  柯韋成   92  90  66   90  82  420  84.0
45  46  賴昌韻   76  72  97   68  92  405  81.0
46  47  王孝純   97  78  62   88  94  419  83.8
48  49  陳志偉   96  67  64   89  71  387  77.4

In [7]:
#平均80分以上的同學
df[df['平均']>=80]

    學號   姓名   國文  英文  數學   地理  歷史   總分    平均
3    4  陳樂紫   73  86  96   94  64  413  82.6
5    6  李美洋   96  68  68   95  78  405  81.0
8    9  林佳光  100  74  98   93  57  422  84.4
23  24  黃佩玲  100  76  75   78  72  401  80.2
25  26  李雅怡   77  85  89  100  78  429  85.8
33  34  王志謙  100  67  55   88  99  409  81.8
41  42  柯韋成   92  90  66   90  82  420  84.0
45  46  賴昌韻   76  72  97   68  92  405  81.0
46  47  王孝純   97  78  62   88  94  419  83.8